<deployment>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
  	<jvm2hostname jvmuri="server" rmiRegistryCreator="true"
                  hostname="localhost"/>
  	<jvm2hostname jvmuri="app0" rmiRegistryCreator="false"
                  hostname="localhost"/>
  </jvms2hostnames>
</deployment>
