grant {
  permission java.util.PropertyPermission "javax.xml.validation.SchemaFactory:http://relaxng.org/ns/structure/1.0", "read,write";
  permission java.io.FilePermission "./config/deployment.rnc", "read";
  permission java.io.FilePermission "./config.xml", "read";
  permission java.io.FilePermission "./config_avm.xml", "read";
  permission java.io.FilePermission "./*.log", "write";
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.net.SocketPermission "*:1999", "connect, resolve";
  permission java.net.SocketPermission "*:1024-", "connect, resolve";
  permission java.net.SocketPermission "*:1024-", "accept, resolve";
  permission java.lang.RuntimePermission "stopThread";
  permission java.lang.RuntimePermission "modifyThread";
  permission java.lang.RuntimePermission "modifyThreadGroup";
};
